* {
    box-sizing: border-box;
    margin: 0px;
    
  }
  .spinner {
    position: absolute;
    top:40px;
    right: 40px;
    width: 8px;
    height: 8px;
    margin: 0px;
    opacity: 0.3;
  }

  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #ffffff;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
   
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
    margin: 0px;

  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }
  

  .flex-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;

  }
  
  .name {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    flex: 60%;
    font-family: 'Pacifico';
    font-size: 70px;
    align-items: center;
    padding-top: 100px;
    padding-bottom:200px;
    font-weight: bold;
    animation: fade_in_e1 4s;
  }


  @keyframes fade_in_e1{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  d1:hover{
    color: red;
    opacity: 0.8;
  }


  .description{
    color: rgb(81, 79, 79);
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


  n1:hover{
      opacity: 0.5;
  }
  
  .image {
    background-color:black;
    padding: 10px;
    flex: 40%;
    justify-content: left;
    opacity: 0.8;
    padding-top: 20px;
  }
  img{
    width: 80%;
  }


  .education{
    background-color: #414040;
    flex: 100%;
    padding: 20px;
    padding-top: 100px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    
  }

  e1:hover{    
    opacity: 0.5;
    color: rgb(255, 255, 255);
  }

  .education_content{

    background-color: #414040;
    padding: 20px;
    padding-top: 50px;
    margin: 0px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    opacity: 0.8;
    height: 450px;
    padding-top: 80px;
  }


 .education_content ol{
    color:white;
    text-align: center;
    background-color: #414040;
 }

 .education_content li{
    background-color: #414040;
    text-align: left;
  }

  .hobbies{
    background-color: #000000;
    flex: 100%;

    padding: 20px;
    padding-top: 100px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    
    
  }
 
  ho:hover{    
    opacity: 0.5;
  }

  .hobbies_content{
    height: 400px;

    background-color: #000000;
    padding: 20px;
    padding-top: 50px;
    margin: 0px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    opacity: 0.8;
    
        
  }
 .hobbies_content ol{
    color:white;
    text-align: center;
    background-color: #000000;
  }

 .hobbies_content li{
    background-color: #000000;
    text-align: left;
  }

  .ambition{
    background-color: #414040;
    flex: 100%;
    padding: 20px;
    padding-top: 100px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: small;
    height: 400px;

    }
    .ambition p{
        font-size: 20px;

        text-align: center;
        background-color: #414040;
        color:white;
    }
    .contact{
        background-color: #000000;
        flex: 100%;
        padding: 20px;
        padding-top: 50px;
        height: 150px;
        margin: 0px;
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 10px;
        display:flex;
        justify-content: center;
        align-items: center;

        
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-linkedin {
    background: #464646;
    color: white}
  .fa-linkedin:hover {
        background: #007bff;
        color: white;
  }
  .fa-twitter {
    background: #464646;
    color: white;
  }
  .fa-twitter:hover {
    background: #079edf;
    color: white;
  }
  .fa-facebook {
    background: #464646;
    color: white;
  }
  .fa-facebook:hover {
    background: #003965;
    color: white;
  }
  .fa-instagram {
    background: #464646;
    color: white;
  }
  .fa-instagram:hover{
    background: #d7146c;
    color: white;
  }


 
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      padding-bottom: 20px;
    }
    .name{
        font-size: 45px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    img{
        width: 60%;
        padding-bottom: 40px;
    }

    .spinner{
      width:9px ;
      height:9px ;
    }

  }
